[submodule "whisper_frontend"]
	path = whisper_frontend
	url = https://github.com/RyoKuman-Tutorial/whisper_frontend.git
[submodule "whisper_backend"]
	path = whisper_backend
	url = https://github.com/RyoKuman-Tutorial/whisper_backend.git
