[submodule "whisper_front"]
	path = whisper_front
	url = https://github.com/RyoKuman-Tutorial/whisper_front.git
[submodule "whisper_back"]
	path = whisper_back
	url = https://github.com/RyoKuman-Tutorial/whisper_back.git
